/*NULL*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  font-family: Poppins;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ---HEADER--------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  max-width: 1110px;
  padding: 18px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__logo:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-header__text {
  color: #173a56;
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 0 17px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation__item {
  color: #22343d;
  font-weight: 500;
  margin: 0 24px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.navigation__item a {
  color: inherit;
}
.navigation__item:hover {
  text-decoration: underline;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__buttons a {
  color: #173a56;
  line-height: 150%;
}

.header__button {
  margin: 0 24px 0 0;
  padding: 8.5px 23.5px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__button:last-child {
  margin: 0 55px 0 0;
}
.header__button:hover {
  border-color: #02897a;
  background: #02897a;
  color: #fff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 24px;
  right: 15px;
}

.theme__body {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  background: #f3f3f3;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.theme__body:hover {
  background: #c2c2c2;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.theme__body img {
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
}

@media (max-width: 950px) {
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  .header__row {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navigation__item:last-child {
    margin: 0;
  }

  .header__button:last-child {
    margin: 0;
  }

  .header__theme {
    top: 18px;
  }
}
@media (max-width: 650px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .header__navigation {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .header__buttons {
    margin: 10px 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .header__button {
    margin: 0 5px;
  }
  .header__button:last-child {
    margin: 0 5px;
  }
}
@media (max-width: 420px) {
  .navigation__item {
    text-align: center;
    margin: 10px 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
}
/* ---FOOTER------------------------------------------------------------ */
.footer {
  padding: 155px 0 40px;
  color: #22343d;
}

.footer__container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__logo:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-footer__text {
  color: #173a56;
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 0 15px;
}

.footer__social {
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #edfffc;
  border: 2px solid #edfffc;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.social__link:hover {
  border-color: #02897a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.social__link:not(:last-child) {
  margin: 0 16px 0 0;
}

.footer__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.footer__label br {
  display: none;
}

.footer__menu {
  margin: 10px 0 0 0;
}

.menu-footer__link a {
  font-size: 16px;
  line-height: 218.75%;
  color: #22343d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu-footer__link a:hover {
  text-decoration: underline;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__form {
  margin: 35px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__input {
  padding: 9px 15px;
  font-size: 16px;
  line-height: 218.75%;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}
.footer__input:focus {
  color: #02897a;
}

.footer__button {
  margin: 21px 0 0 0;
  padding: 6.5px;
  width: 131.12px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__button:hover {
  background: transparent;
  color: #02897a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__copy {
  margin: 15px 15px 0;
  text-align: center;
  font-size: 16px;
  line-height: 187.5%;
}

@media (min-width: 1140px) {
  .footer__container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__column:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 163px;
    flex: 0 1 163px;
  }
  .footer__column:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 150px;
    flex: 0 1 150px;
    margin: 0 0 0 170px;
  }
  .footer__column:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 150px;
    flex: 0 1 150px;
    margin: 0 0 0 100px;
  }
  .footer__column:nth-child(4) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 325px;
    flex: 0 1 325px;
    margin: 0 0 0 52px;
  }

  .footer__label br {
    display: inline;
  }
}
@media (max-width: 954px) {
  .footer {
    padding: 70px 0 20px 0;
  }

  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__column:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .footer__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 0 0 35px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 0 0 18%;
  }
  .footer__column:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 0 0 35px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 0 0 18%;
  }
  .footer__column:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0 0 35px;
  }

  .footer__form {
    margin: 15px 0 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__input {
    min-width: 300px;
    height: 50px;
  }

  .footer__button {
    margin: 15px 0 0 0;
    min-width: 300px;
    height: 50px;
  }
}
@media (max-width: 650px) {
  .footer {
    padding: 40px 0 10px 0;
  }

  .footer__column:nth-child(2) {
    padding: 0;
  }
  .footer__column:nth-child(3) {
    padding: 0;
  }

  .footer__label {
    text-align: center;
  }

  .footer__input {
    padding: 5px;
    min-width: 75%;
    font-size: 12px;
  }

  .footer__button {
    min-width: 75%;
  }
}
@media (max-width: 420px) {
  .menu-footer__link a {
    font-size: 14px;
  }

  .footer__copy {
    font-size: 14px;
  }
}
/* ------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 1110px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* ---PAGE------------------------------------------------------- */
.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page__intro {
  color: #22343d;
}

.page__tests {
  color: #22343d;
}

.page__offers {
  color: #22343d;
}

.page__experts {
  color: #22343d;
}

.page__strategies {
  color: #22343d;
}

.page__price {
  color: #22343d;
}

.page__clients {
  color: #22343d;
}

.page__join {
  color: #ffffff;
}

/* ---INTRO------------------------------------------------------ */
.intro {
  margin: 100px 0 0 0;
}

.intro__container {
  background: url(../img/intro/intro.jpg) no-repeat;
  background-size: 53.5%;
  background-position: 97% center;
}

.content-intro {
  padding: 125.338px 0 104px;
  max-width: 470px;
}

.content-intro__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

.content-intro__text {
  margin: 20px 0 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
}

.content-intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.button_full {
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 4px;
  color: #fff;
  padding: 17px 42px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button_full:hover {
  background: transparent;
  color: #02897a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_empty {
  color: #02897a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 15px;
  padding: 15.5px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button_empty:hover {
  border: 1px solid #02897a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button_empty img {
  margin: 0 8px 0 0;
}

@media (max-width: 950px) {
  .intro__container {
    background-size: 390px;
    background-position: center bottom 80px;
  }

  .content-intro {
    padding: 20px 0 0 0;
    max-width: 100%;
    text-align: center;
  }

  .content-intro__text {
    margin: 15px 0 400px;
  }

  .content-intro__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button_empty {
    border: 1px solid #02897a;
  }
}
@media (max-width: 650px) {
  .intro {
    margin: 140px 0 0 0;
  }

  .intro__container {
    background-size: 280px;
    background-position: center bottom 160px;
  }

  .content-intro__title {
    font-size: 32px;
  }

  .content-intro__text {
    font-size: 16px;
    margin: 15px 0 280px;
  }

  .content-intro__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content-intro__buttons a {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    margin: 10px 0;
  }

  .button_empty {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 420px) {
  .intro {
    margin: 180px 0 0 0;
  }

  .content-intro__title {
    font-size: 28px;
  }

  .content-intro__text {
    font-size: 14px;
    margin: 10px 0 270px;
  }
}
/* ---TESTS------------------------------------------------------ */
.tests {
  padding: 120px 0 90px 0;
  position: relative;
}

.tests__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tests__title {
  max-width: 530px;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
}

.tests__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 70px 0 34px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-tests {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 21.5%;
  flex: 0 0 21.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.item-tests__icon {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-tests__icon_green {
  background: #02897a;
}

.item-tests__icon_blue {
  background: #4d8dff;
}

.item-tests__icon_purple {
  background: #740a76;
}

.item-tests__icon_orange {
  background: #f03e3d;
}

.item-tests__title {
  margin: 32px 0 13px;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
}

.item-tests__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 162.5%;
}

.tests__button {
  font-weight: 700;
  line-height: 150%;
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 4px;
  color: #fff;
  padding: 13.85px 32.4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.tests__button:hover {
  background: transparent;
  color: #02897a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tests__background_gradient {
  position: absolute;
  z-index: 1;
  left: -10%;
  bottom: 0;
}

._background_gradient {
  width: 120%;
  height: 400px;
  background: linear-gradient(
    179.59deg,
    rgba(255, 255, 255, 0.0001) 0.35%,
    #ededed 99.63%
  );
  border-radius: 0 0 50% 50%/0 0 100% 100%;
}

@media (max-width: 950px) {
  .tests {
    padding: 30px 0 50px 0;
  }

  .tests__row {
    margin: 30px 0;
  }

  .item-tests {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 0 20px 0;
  }

  .item-tests__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0 0 0 10px;
  }

  .item-tests__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 10px 0 0 0;
    height: 100%;
    line-height: 162.5%;
  }

  ._background_gradient {
    height: 300px;
  }
}
@media (max-width: 650px) {
  .tests {
    padding: 15px 0 50px 0;
  }

  .tests__row {
    margin: 15px 0;
  }

  .item-tests {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .item-tests__icon {
    width: 35px;
    height: 35px;
  }

  ._background_gradient {
    height: 130px;
  }

  .tests__button {
    width: 75%;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .tests__title {
    font-size: 28px;
  }

  .item-tests__title {
    font-size: 18px;
  }

  .item-tests__text {
    font-size: 14px;
  }
}
/* ---OFFERS------------------------------------------------------ */
.offers {
  padding: 120px 0;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.offer:not(:last-child) {
  margin: 0 0 140px 0;
}

.content-offer {
  padding: 30px 0 0 0;
  max-width: 480px;
}

.content-offer__subtitle {
  font-weight: 600;
  line-height: 162.5%;
}

.content-offer__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}

.content-offer__text {
  line-height: 162.5%;
  margin-top: 15px;
}

.content-offer__text:not(:last-child) {
  line-height: 162.5%;
  margin-bottom: 35px;
}

.offer__image {
  margin: 0 5px 0 0;
}

.achievements-offer {
  margin: -5px 0 0 0;
}

.achievements-offer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.achievements-offer__row:not(:last-child) {
  margin: 0 0 30px 0;
}

.achievements-offer__tick {
  margin: 5px 0 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35px;
  flex: 0 0 35px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 13.8542px;
}

.achievements-offer__tick_orange {
  background: #ff9900;
}

.achievements-offer__tick_red {
  background: #f03e3d;
}

.achievements-offer__tick_blue {
  background: #4d8dff;
}

.achievements-offer__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 0 0 30px;
  line-height: 162.5%;
}

@media (max-width: 950px) {
  .offers {
    padding: 20px 0;
  }

  .offer:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .content-offer {
    max-width: 50%;
  }

  .content-offer__text {
    margin: 5px 0 15px;
  }

  .offer__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .offer__image img {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .offer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
  }

  .content-offer {
    position: relative;
    z-index: 2;
    max-width: 100%;
  }

  .content-offer__title {
    margin: 0 0 100% 0;
  }

  .achievements-offer__text {
    margin: 0 0 0 15px;
  }

  .offer__image {
    margin: 0;
    padding: 0;
  }
  .offer__image img {
    position: absolute;
    top: 14%;
    left: 0;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 420px) {
  .content-offer__title {
    font-size: 28px;
  }

  .content-offer__text {
    font-size: 14px;
  }
}
/* ---EXPERTS------------------------------------------------------ */
.experts {
  padding: 55px 0 0 0;
  position: relative;
}

.experts__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.experts__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}

.experts__text {
  margin: 16px 0 0 0;
  max-width: 550px;
  font-weight: 500;
  line-height: 162.5%;
}

.experts__body {
  padding: 30px 90px 46px;
  margin: 0 0 -24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -8px 24px;
}

@media (min-width: 950px) {
  .expert:last-child {
    margin: 0 -48px 24px -8px;
  }
}
.expert__avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 98px;
  flex: 0 0 98px;
  margin: 0 8px;
  width: 98px;
  height: 98px;
  border: 3px solid;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.expert__avatar:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.expert__avatar::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  pointer-events: none;
}
.expert__avatar::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  pointer-events: none;
}

.expert__avatar_01 {
  background: url(../img/experts/Avatar_01.jpg) center no-repeat;
  border-color: #ff0909;
}
.expert__avatar_01::before {
  top: 80px;
  left: 135px;
}
.expert__avatar_01::after {
  top: 65px;
  left: 150px;
}

.expert__avatar_02 {
  background: url(../img/experts/Avatar_02.jpg) center no-repeat;
  border-color: #740a76;
}
.expert__avatar_02::before {
  top: 80px;
  right: 135px;
}
.expert__avatar_02::after {
  top: 65px;
  right: 150px;
}

.expert__avatar_03 {
  background: url(../img/experts/Avatar_03.jpg) center no-repeat;
  border-color: #02897a;
}
.expert__avatar_03::before {
  top: 80px;
  right: 135px;
}
.expert__avatar_03::after {
  top: 65px;
  right: 150px;
}

.expert__avatar_04 {
  background: url(../img/experts/Avatar_04.jpg) center no-repeat;
  border-color: #035b81;
}
.expert__avatar_04::before {
  top: 80px;
  left: 135px;
}
.expert__avatar_04::after {
  top: 65px;
  left: 150px;
}

.expert__comment {
  position: relative;
  z-index: 2;
  margin: 0 8px;
  padding: 15px 30px;
  font-weight: 500;
  line-height: 150%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}

.experts__button {
  padding: 13.43px 29.69px;
  color: #fff;
  font-weight: 700;
  line-height: 150%;
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.experts__button:hover {
  background: transparent;
  color: #02897a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experts__background_gradient {
  position: absolute;
  z-index: 1;
  left: -10%;
  top: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 950px) {
  .experts {
    padding: 35px 0 0 0;
  }

  .experts__body {
    padding: 25px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .expert {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0 0 20px 0;
  }

  .expert:nth-child(3) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (max-width: 650px) {
  .expert__comment {
    margin: 0;
    padding: 15px 10px;
  }

  .experts__button {
    width: 75%;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .experts__title {
    font-size: 28px;
  }

  .experts__text {
    font-size: 14px;
  }

  .expert__comment {
    font-size: 12px;
  }

  .expert__avatar {
    margin: 0 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
    width: 75px;
    height: 75px;
  }
  .expert__avatar::before {
    display: none;
  }
  .expert__avatar::after {
    display: none;
  }
}
/* ---STRATEGIES------------------------------------------------------ */
.strategies {
  padding: 165px 0 0 0;
}

.strategies__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
}

.strategies__text {
  margin: 7px 0 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 162.5%;
}

.strategies__row {
  margin: 32px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-strategies {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.4414414414%;
  flex: 0 0 31.4414414414%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #22343d;
  border: 1px solid #dedede;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-strategies:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.item-strategies:hover .item-strategies__content .item-strategies__title {
  color: #ff9900;
}

.item-strategies__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 185px;
  flex: 0 0 185px;
  position: relative;
}
.item-strategies__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.item-strategies__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 24px;
}

.item-strategies__text {
  line-height: 175%;
}
.item-strategies__text span {
  font-weight: 700;
}

.item-strategies__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 166.6666666667%;
}
.strategies__item_active .item-strategies__title {
  color: #02897a;
}

.strategies__indicators {
  margin: 59px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.strategies__indicator {
  width: 16px;
  height: 16px;
  background: #efefef;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.strategies__indicator:not(:last-child) {
  margin: 0 10px 0 0;
}
.strategies__indicator:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.strategies__indicator_active {
  background: #02897a;
}

@media (max-width: 950px) {
  .strategies {
    padding: 70px 0 0 0;
    text-align: center;
  }

  .strategies__title {
    font-size: 32px;
  }

  .strategies__row {
    margin: 30px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .item-strategies {
    position: relative;
    border-radius: 20px;
  }
  .item-strategies:not(:last-child) {
    margin: 0 0 25px 0;
  }

  .item-strategies__content {
    position: relative;
    z-index: 2;
    padding: 20% 20px;
  }

  .item-strategies__image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .item-strategies__image img {
    border-radius: 20px;
  }

  .item-strategies__title {
    background: #ffffff95;
    border-radius: 0 0 20px 20px;
  }
  .strategies__item_active .item-strategies__title {
    color: inherit;
  }

  .item-strategies__text {
    background: #ffffff70;
    border-radius: 20px 20px 0 0;
  }

  .strategies__indicators {
    display: none;
  }
}
@media (max-width: 650px) {
  .strategies {
    padding: 40px 0 0 0;
  }

  .item-strategies:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 420px) {
  .strategies__title {
    font-size: 28px;
  }

  .strategies__text {
    font-size: 14px;
  }

  .item-strategies__content {
    padding: 15% 15px;
  }
}
/* ---PRICE ------------------------------------------------------- */
.price {
  padding: 165px 0 0 0;
  text-align: center;
}

.price__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
}

.price__text {
  margin: 10px;
  font-weight: 500;
  line-height: 150%;
}

.price__row {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-price {
  position: relative;
  background-color: transparent;
  padding: 33px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29.0990990991%;
  flex: 0 0 29.0990990991%;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.item-price__content {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-price__content div {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-price__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 166.6666666667%;
}

.item-price__subtitle {
  line-height: 250%;
}

.item-price__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cost__number {
  color: #02897a;
  font-weight: 700;
  font-size: 76px;
  line-height: 131.5789473684%;
  letter-spacing: 0.2px;
}

.text-cost {
  margin: 0 0 0 8px;
  text-align: left;
}

.text-cost__currency {
  color: #02897a;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.1px;
}

.text-cost__period {
  color: #afafaf;
  line-height: 118.75%;
  letter-spacing: 0.1px;
}

.item-price__text {
  margin: 20px 0 0 0;
  font-weight: 500;
  line-height: 137.5%;
  letter-spacing: 0.2px;
}

.item-price__button {
  margin: 40px 0 0 0;
  padding: 10px 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #ffffff;
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-price__button:hover {
  color: #02897a;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.item-price__button:hover::after {
  background: #02897a;
}
.item-price__button:hover ~ div {
  color: #ffffff;
}
.item-price__button:hover ~ div div {
  color: #ffffff;
}

.item-price__button::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 8px;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 950px) {
  .price {
    padding: 70px 0 0 0;
  }

  .item-price {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding: 10px 0;
  }

  .item-price__button {
    margin: 20px 0 0 0;
  }

  .item-price__text {
    margin: 5px 0 0 0;
  }
}
@media (max-width: 650px) {
  .price {
    padding: 40px 0 0 0;
  }

  .price__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .item-price {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 325px;
    padding: 15px;
  }
  .item-price:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .item-price__button {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .price__title {
    font-size: 28px;
  }

  .price__text {
    font-size: 14px;
  }

  .item-price__text {
    font-size: 14px;
  }
}
/* ---CLIENTS ------------------------------------------------------- */
.clients {
  padding: 150px 0 0 0;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.clients__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 167.6470588235%;
  letter-spacing: 0.2px;
}

.clients__text {
  max-width: 540px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.2px;
}

.clients__row {
  width: 100%;
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-clients {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 29.4594594595%;
  flex: 0 1 29.4594594595%;
  padding: 28px 26px 24px;
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: start;
}

.item-clients__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star {
  width: 19px;
  height: 19px;
}
.star:not(:last-child) {
  margin: 0 4px 0 0;
}

.star_full {
  background: url(../img/clients/star_full.svg);
}

.star_empty {
  background: url(../img/clients/star_empty.svg);
}

.item-clients__text {
  margin: 14px 0 0 0;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-clients__client {
  margin: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__avatar {
  width: 50px;
  height: 50px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}

.client__avatar_01 {
  background: url(../img/clients/01.jpg) center no-repeat;
}

.client__avatar_02 {
  background: url(../img/clients/02.jpg) center no-repeat;
}

.client__avatar_03 {
  background: url(../img/clients/03.jpg) center no-repeat;
}

.client__description {
  margin: 0 0 0 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
  color: #252b42;
}
.client__description span {
  color: #02897a;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 950px) {
  .clients {
    padding: 70px 0 0 0;
  }

  .item-clients {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding: 15px;
  }
}
@media (max-width: 650px) {
  .clients {
    padding: 40px 0 0 0;
  }

  .clients__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .item-clients {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 325px;
  }
  .item-clients:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 420px) {
  .clients__title {
    font-size: 28px;
  }

  .clients__text {
    font-size: 14px;
  }

  .item-clients__text {
    font-size: 14px;
  }
}
/* ---CLIENTS ------------------------------------------------------- */
.join {
  padding: 155px 0 0 0;
}

.join__container {
  max-width: 968px;
  margin: 0px auto;
  background: #02897a;
  border-radius: 32px;
}

.join__body {
  padding: 49px 50px 56px;
  background: url(../img/join/screen.png) no-repeat;
  background-size: 43%;
  background-position: 100%;
}

.join__content {
  max-width: 50%;
}

.content-join__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
}

.content-join__button {
  display: inline-block;
  margin: 46px 0 0 0;
  padding: 9px 33.276px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  background: #ffffff;
  color: #02897a;
  border: 1px solid #ffffff;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.content-join__button:hover {
  color: #ffffff;
  background: #02897a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 950px) {
  .join {
    padding: 70px 0 0 0;
  }

  .join__container {
    margin: 0px 15px;
  }

  .join__body {
    padding: 25px;
    background-size: 43%;
  }

  .join__content {
    max-width: 60%;
  }
}
@media (max-width: 650px) {
  .join {
    padding: 40px 0 0 0;
  }

  .join__body {
    padding: 25px 15px;
    background-size: 280px;
    background-position: center bottom 70px;
  }

  .join__content {
    max-width: 100%;
    text-align: center;
  }

  .content-join__button {
    margin: 220px 0 0 0;
    width: 82%;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .content-join__title {
    font-size: 28px;
  }
}
